.info {
    font-family: 'Roboto Mono', monospace;
    color: #5cb85c;
}
.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34pt;
    color: rgba(15, 70, 80, 0.9);;
    margin-bottom: 50px;
}